<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaoliang.xlandroidsimpleexample">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity android:name=".animation.AnimationMainActivity"></activity>
        <activity android:name=".springanimation.SpringAnimationActivity" />
        <activity android:name=".paging.PagingSimpleExampleActivity" />
        <activity android:name=".lifecycle.LifecycleOwnerActivity" />
        <activity android:name=".databinding.DataBinDingActivity" />
        <activity android:name=".navigation.NavigationActivity" />
        <activity android:name=".DataStoreSimpleExample" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>